.sFormDetail
{	
	font-family : Arial Narrow, Arial, Trebuchet MS;	
	padding-Left : 0; 
	padding-Right : 0;  
	padding-Bottom : 0;
	padding-Top : 10;
	top : 0;
}

.sFormItemDetail
{
	font-weight : bold;
	font-size : 10pt;
	font-family : Arial Narrow, Arial, Trebuchet MS;
	color : #999999;
	label-width : "Calculated";
}

.sComboBoxFind
{
	border-color : #CBCBCB;
	border-style : solid;
	color : #000000;
	font-weight : normal;
	font-family : verdana, arial;
	font-size : 11pt;
}

.sComboBoxDetail
{
	border-color : #CBCBCB;
	border-style : solid;
	color : #000000;
	skin : Embed(source='../imgs/drop_down_skin.png');
	down-skin : Embed(source='../imgs/drop_down_skin.png');
	font-weight : normal;
	font-family : verdana, arial;
	font-size : 10pt;
	
}


.sLabelDetail
{
	font-weight : normal;
	font-size : 9pt;
	font-family : verdana, arial;
	color : #000000;
}
